@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #3f3434;
  color: #fff;
}

.card {
  width: 400px;
  height: 300px;
  background-color: #493e3e;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 25px 35px;
  border-radius: 10px;
}

.card h2 {
  font-weight: 500;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.bar-container {
  display: flex;
  justify-content: space-between;
}

.bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  height: 150px;
  width: 50px;
  background-color: #433737;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.bar::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 27.5%;
  background-color: #d5634e;
  left: 0;
  bottom: 0;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.percentage {
  font-size: 10px;
  margin-bottom: 5px;
}

.age-average {
  font-size: 10px;
  margin-top: 5px;
}
